name: Build

on: push

jobs:
  Build:
    runs-on: ubuntu-20.04
    steps:
      - name: Do things
        run: |
          sudo apt install libssl-dev libarchive-dev libarchive-tools wget -y
          wget https://sources.archlinux.org/other/pacman/pacman-5.2.2.tar.gz
          tar -xvf pacman-*
          cd pacman-*
          ./configure
          make -j $(nproc)
          sudo make install
          sudo pacman -Syu neofetch
          neofetch