name: Build

on: push

jobs:
  Build:
    runs-on: ubuntu-20.04
    steps:
      - name: Requirements
        run: sudo apt install libssl-dev libarchive-dev libarchive-tools wget -y 
      - name: Do things
        run: |
          wget https://sources.archlinux.org/other/pacman/pacman-5.2.2.tar.gz
          tar -xvf pacman-*
          rm pacman-5.2.2.tar.gz
          cd pacman-5.2.2
          ./configure --prefix=/usr
          make -j $(nproc)
          sudo make install
      - name: Test
        run: |
          sudo pacman -Syu neofetch
          neofetch