name: Build

on: push

jobs:
  Build:
    runs-on: ubuntu-20.04
    steps:
      - name: Requirements
        run: sudo apt install libssl-dev libarchive-dev libarchive-tools wget curl -y 
      - name: Do things
        run: |
          wget https://sources.archlinux.org/other/pacman/pacman-5.2.2.tar.gz
          tar -xvf pacman-*
          rm pacman-5.2.2.tar.gz
          cd pacman-5.2.2
          ./configure --prefix=/usr --sysconfdir=/etc
          make -j $(nproc)
          sudo make install
      - name: Configure pacman
        run: |
          wget https://raw.githubusercontent.com/SomethingGeneric/Build-Pacman/main/pacman.conf && sudo mv pacman.conf /etc/. -v
          sudo mkdir -p /etc/pacman.d
          wget https://raw.githubusercontent.com/SomethingGeneric/Build-Pacman/main/mirrorlist && sudo mv mirrorlist /etc/pacman.d/. -v
      - name: Test
        run: |
          sudo pacman -Syu --noconfirm neofetch
          neofetch